@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

body{
	background-image: url("./background_02.png");
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	margin-top: 4%;
	text-align: center;
}

.match{
	height:70%;
	margin-left: 10px;
	margin-right: 10px;
}
.tabuleiro{
	height: 80vh;
	padding-top: 9%;
	display: none;
}
.r1{
	position: relative;
	text-align:center;
	width:100%;
	height:25%;
	margin: auto;
	margin-top: 0%;
}

#nimHome {
	font-family: 'Henny Penny', cursive;
	font-size:  200pt;
	color: #99c9de;	
}

#nimHome:hover {
	cursor: default;
}

#nimHome2 {
	font-family: 'Henny Penny', cursive;
	font-size:  90pt;
	color: white;	
}

#nimHome2:hover {
	cursor: pointer;
}

.home {
	text-align: center;
	margin-bottom: -3%;
	padding-top: 24vh;
}

.home2 {
	display: none;
	position: absolute;
	margin-top: 3%;
    margin-left: 3%;
}



.menuoptions{
	text-align: center;
	font-size: 4vmin;
	font-family: 'Imprima', sans-serif;
	font-weight: 600;
	line-height: 1.7;
	color: white;
}

.menuIt:hover {
	cursor: pointer;
	text-decoration: underline;
}

#mpRank{
	font-size: 24pt;
	overflow: auto;
}

.authentification{
	background-color:rgba(211,211,211, 0.2);
	top:15%;
	padding-top: 60px;
	position: absolute;
	width: 60%;
	height: 60%;
	font-size: 3.5vmin;
	left: 20%;
	display: none;
}

.singleplayer{
	top:15%;
	padding-top: 50px;
	position: absolute;
	width: 60%;
	height: 70%;
	font-size: 3.5vmin;
	left: 20%;
	display: none;
}

.inf {
	word-spacing: 20pt;
	font-size: 20pt;
	text-align: center;
}

.input {
	font-size: 14pt;
}

.button {
	background: #273368;
    font-family: Arial;
    color: #ffffff;
    font-size: 1.75vmin;
    border-radius: 30px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 26px;
    padding-right: 26px;
	text-align: center;
	width: 50px;
}

.button:hover {
  	cursor: pointer;
}

#turn_mp2{
	margin-top: -360px;
	color:rgba(0, 0, 0, 0);
	font-size: 30pt;
	font-weight: bold;
	-webkit-text-stroke: 0px #fcff96;
}

#turn_mp{
	margin-top: -100px;
	margin-bottom: 120px;
	color:rgba(0, 0, 0, 0);
	font-size: 26pt;
	font-weight: bold;
	-webkit-text-stroke: 0px #fcff96;
}

.helpB{
	margin-left: 2%;
	margin-top: -4%;
	display: none;
	position: absolute;
	top: 99%;
}

.setting{
	text-align: left;
	top:33%;
	left: 40%;
	position: absolute;
	width: 35%;
	font-size: 3vmin;
	font-family: 'Imprima', sans-serif;
	color: #ffffff;
	display: none;
}

.nm{
	font-size: 2.5vmin;
}

.scores{
	text-align: center;
	top:33%;
	left: 33%;
	padding-top: 50px;
	position: absolute;
	width: 35%;
	font-size: 3vmin;
	font-family: 'Imprima', sans-serif;
	color: #ffffff;
	display: none;
}

.instructions{
	top:33%;
	left: 33%;
	font-family: 'Imprima', sans-serif;
	color: #ffffff;
	width: 35%;
	font-size: 3vmin;
	display: none;
	position: absolute;
	
}

.instructions p {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.instructions h3 {	
	text-align: center;
}

.butonsSettings{
	word-spacing: 20px;
	margin-left: 32%;
}

.ti {
	text-align: center;
	background: none;
	border: 3px #99c9de solid;
	border-radius: 8px;
	font-family: 'Imprima', sans-serif;
	font-size: 22pt;
	font-weight: bold;
	color: white;
	margin-left: 35px;
}

.mode{
	line-height:150%;
}

#mode_ai{
	margin-top: 60px;
	margin-bottom: 60px;
}

.modeoptions {
	font-size: 3.5vmin;
}

.white-line {
	background-color: #99c9de;	
	padding: 1px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.score-table {
	width: 100%;
	border-collapse:separate; 
	border-spacing:0 25px;
}

th, td {
	width: 35px;
  	border-bottom: 3px solid #99c9de;	
}

.difficulty {
	margin-top: 15px;
}