@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

body{
	background-image: url("./background_02.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -7vh;
	height: 97vh; 
}

h1 {
	margin-top: 4%;
	text-align: center;
}

.match{
	height:70%;
	margin-left: 10px;
	margin-right: 10px;
}
.tabuleiro{
	height: 80vh;
	padding-top: 8%;
	display: none;
}
.r1{
	position: relative;
	text-align:center;
	width:100%;
	height:25%;
	margin: auto;
	margin-top: 0%;
}

#nimHome {
	font-family: 'Henny Penny', cursive;
	font-size:  11.5vw;
	color: #99c9de;	
}

#nimHome:hover {
	cursor: default;
}

#nimHome2 {
	font-family: 'Henny Penny', cursive;
	font-size:  3.2vw;
	color: white;	
}

#nimHome2:hover {
	cursor: pointer;
}

.home {
	text-align: center;
	margin-bottom: -3%;
	padding-top: 11%;
}

.home2 {
	display: none;
	position: absolute;
	margin-top: 1%;
    margin-left: 2%;
}



.menuoptions{
	text-align: center;
	font-size: 4vmin;
	font-family: 'Signika', sans-serif;
	line-height: 1.7;
	color: white;
}

.menuIt:hover {
	cursor: pointer;
	text-decoration: underline;
	text-decoration-color: #f2edb8;
}

#mpRank{
	font-size: 24pt;
	overflow: auto;
}

.authentification{
	background-color:rgba(211,211,211, 0.2);
	top:15%;
	padding-top: 60px;
	position: absolute;
	width: 60%;
	height: 60%;
	font-size: 3.5vmin;
	left: 20%;
	display: none;
}

.singleplayer{
	top:15%;
	padding-top: 50px;
	position: absolute;
	width: 60%;
	height: 70%;
	font-size: 3.5vmin;
	left: 20%;
	display: none;
}

.inf {
	word-spacing: 20pt;
	font-size: 20pt;
	text-align: center;
}

.input {
	font-size: 14pt;
}

.button {
	background: #273368;
    font-family: 'Signika', sans-serif;
    color: #ffffff;
    font-size: 2.5vmin;
    border-radius: 30px;
	padding: 15% 50%;
	text-align: center;
	width: 2.6vw;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, .75);
}

.button:hover {
  	cursor: pointer;
}

#turn_mp2{
	margin-top: -360px;
	color:rgba(0, 0, 0, 0);
	font-size: 30pt;
	font-weight: bold;
	-webkit-text-stroke: 0px #fcff96;
}

#turn_mp{
	margin-top: -100px;
	margin-bottom: 120px;
	color:rgba(0, 0, 0, 0);
	font-size: 26pt;
	font-weight: bold;
	-webkit-text-stroke: 0px #fcff96;
}

.helpB{
	margin-left: 2%;
	margin-top: -4%;
	display: none;
	position: absolute;
	top: 99%;
}

.setting{
	text-align: left;
	top:33%;
	left: 40%;
	position: absolute;
	width: 35%;
	font-size: 3vmin;
	font-family: 'Signika', sans-serif;
	font-weight: 300;
	color: #ffffff;
	display: none;
}

.bold-settings{
	font-weight: 400;
}

.nm{
	font-size: 2.5vmin;
}

.scores{
	text-align: center;
	top:33%;
	left: 33%;
	position: absolute;
	width: 35%;
	font-size: 3vmin;
	font-family: 'Signika', sans-serif;
	font-weight: 300;
	color: #ffffff;
	display: none;
}

.instructions{
	top:33%;
	left: 33%;
	font-family: 'Signika', sans-serif;
	font-weight: 300;
	color: #ffffff;
	width: 31%;
	font-size: 3vmin;
	display: none;
	position: absolute;
	margin-left: 5vw;
	
}

.instructions p {
	margin: -1% 0;
}

.instructions h3 {	
	text-align: center;
	font-weight: 400;
	font-size: 4vmin;
}

.butonsSettings{
	word-spacing: 20px;
	margin-left: 32%;
}

.ti {
	text-align: center;
	background: none;
	border: 0.13vw #99c9de solid;
	border-radius: 8px;
	font-family: 'Signika', sans-serif;
	font-size: 3vmin;
	color: white;
	margin-left: 35px;
}

.mode{
	line-height:150%;
}

#mode_ai{
	margin-top: 60px;
	margin-bottom: 60px;
}

.modeoptions {
	font-size: 3.5vmin;
}

.white-line {
	background-color: #99c9de;	
	padding: 1px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.score-table {
	width: 100%;
	border-collapse:collapse; 
}

th, td {
	width: 35px;
  	border-bottom: 0.15vw solid #99c9de;	
}

td {
	padding-top: 2vh;
}


.tr-titles th{
	font-weight: 400;
}

.difficulty {
	margin-top: 15px;
}




.container {
	display: flex;
	align-items: center;
	padding-left: 35px; 
}

.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	left: 0;
	height: 2vh;
	width: 2vh;
	border-radius: 100%;
	border: 0.13vw solid #99c9de;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container input:checked ~ .checkmark {
	border: 0.13vw solid #99c9de;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.container input:checked ~ .checkmark:after {
	display: block;
}

.container .checkmark:after {
	width: 1.48vh;
	height: 1.48vh;
	border-radius: 100%;
	background: #99c9de;
}